* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6rem;
  line-height: 1.5;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 237, 250);
}

#app {
  background: white;
  width: 100%;
  max-width: 50rem;
  height: auto;
  min-height: 60rem;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 0 20px;
}

#app h1 {
  margin-top: 20px;
}

.userLine {
  height: 1px;
  width: 100%;
  background: black;
  opacity: 0.3;
  margin: 10px 0;
}

#loading {
  width: 100%;
  font-size: 2rem;
  display: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#loading.show {
  display: flex;
}

.divLoading {
  display: flex;
  flex-direction: row;
}

#loading i {
  color: rgb(19, 100, 206);
}

#error {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#error.show {
  display: flex;
}

#error p {
  font-size: 2rem;
  color: red;
}

#retryBtn {
  background: rgb(19, 100, 206);
  border: 1px solid gray;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: backgorund-color 0.3s ease;
}

#retryBtn:hover {
  background-color: rgb(50, 117, 204);
}

#list {
  margin: 10px 0;
}

.listCointainer {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px;
}

#list ul {
  list-style: none;
}

#list ul li {
  font-size: 2rem;
}

.listBtn {
  height: 30px;
  width: 80px;
  background: rgb(247, 32, 32);
  border-radius: 3px;
  border: 1px solid gray;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.listBtn:hover {
  background-color: rgb(247, 72, 72);
}
