* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

#app {
  width: 100%;
  max-width: 50rem;
  height: auto;
  min-height: 40rem;
  padding: 20px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#app h1 {
  margin-bottom: 10px;
  color: blueviolet;
}

#itemInput {
  width: 50%;
  padding: 10px;
  margin: 3px 0;
  outline: none;
}

#addBtn {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
  background-color: rgb(132, 0, 255);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#addBtn:hover {
  background-color: rgb(175, 89, 255);
}

#error {
  color: red;
  margin: 10px 0;
  text-align: center;
}

#list {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#list button {
  width: 100px;
  background-color: red;
  border: 1px solid gray;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#list button:hover {
  background-color: rgb(255, 97, 97);
}
