* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6f8;
  padding: 2rem;
  margin: 0;
}

#app {
  width: 100%;
  max-width: 50rem;
  min-height: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  border: 1px solid black;
}

#count {
  font-size: 5rem;
}

#parity {
  font-size: 3rem;
}

.buttons button {
  min-width: 120px;
  min-height: 50px;
}

.active {
  color: red;
}
