* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6f8;
  padding: 2rem;
  margin: 0;
}

.counteiner {
  border: 1px solid #c9d3e6;
  border-radius: 18px;
  background: white;
  min-height: 40rem;
  height: auto;
  width: 100%;
  max-width: 50rem;
  padding: 4rem 4.2rem;
  box-shadow: 0 16px 0 rgba(60, 72, 88, 0.12);
  text-align: center;
}

.counteiner h1 {
  font-size: clamp(2.8rem, 3vw, 4.4rem);
  font-weight: 800;
  color: #3a5a8c;
  letter-spacing: 0.2px;
  margin-bottom: 18px;
}

.divider {
  height: 2px;
  background: #c9d3e6;
  opacity: 0.6;
  border-radius: 999px;
  margin: 18px auto;
  width: 100%;
}

.counteiner h2 {
  font-size: clamp(7rem, 5vw, 10rem);
  font-weight: 700;
  line-height: 1;
  margin: 10px;
}

.dividerNumber {
  height: 1.5px;
  margin: 10px auto;
  width: 15%;

  background: linear-gradient(
    to right,
    transparent 10%,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.8) 70%,
    transparent 90%
  );

  opacity: 0.6;
}

.actions {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  flex-wrap: wrap;
  font-size: 2rem;
}

.btnCounteinar button {
  min-width: 120px;
  height: 66px;
  border: none;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

.dec {
  background-color: #4b5563;
}

.reset {
  background-color: #16a34a;
}

.inc {
  background-color: #3b82f6;
}

.btnCounteinar button:hover {
  transform: scale(1.1);
}

.negative {
  color: red;
}
