* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#id {
  border: 1px solid gray;
  height: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#id input {
  width: 50%;
  margin-bottom: 5px;
}

#id button {
  width: 50%;
  cursor: pointer;
}

#list {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
