* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  height: 40rem;
  width: 40rem;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 2rem;
}

#app button {
  display: block;
  width: 5rem;
  height: 2rem;
  margin: 2px;
  cursor: pointer;
}

.negative {
  display: none;
}
