* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 2rem;
}

#app {
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  background: white;
  max-width: 50rem;
  height: auto;
  min-height: 40rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app h1 {
  margin-bottom: 20px;
  text-decoration: underline;
}

#itemInput {
  width: 20rem;
  height: 4rem;
  padding: 10px;
  margin-bottom: 1rem;
  border: 2px solid #ddd;
  outline: none;
}

#addBtn {
  width: 20rem;
  height: 3rem;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

#addBtn:hover {
  background-color: rgb(31, 31, 31);
}

#error {
  color: red;
}

#list {
  width: 80%;
}

#list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(134, 134, 134);
  height: 4rem;
  margin: 5px;
}

#list li button {
  width: 8rem;
  height: 3rem;
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#list li button:hover {
  background-color: rgb(255, 70, 70);
}
